body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: black;
    overflow: hidden;
}

header {
    margin-top: 3em;
    text-align: center;
    color: white;
}

    header h1 {
        font-size: 2em;
        font-weight: 900;
    }

#container3D {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}